/*限时购开始*/
.xsg{
	height: 483px;
	padding-top: 70px;
}
.d18{
	width: 1090px;
	margin: 0 auto;
}
.xs{
	padding-bottom: 20px;
}
.xs::after{
	content: "";
	display: block;
	clear: both;
}
.xs>:first-child{
	float: left;
}
.xs>:first-child a{
	font-size: 28px;
	font-weight: bold;
}
.xs>:last-child{
	margin-top: 17px;
	float: right;
}
.jl{
	height: 377px;
}
.jl ul::after{
	content: "";
	display: block;
	clear: both;
}
.jl ul>li{
	float: left;
}
.jl ul>:nth-child(1){
	width: 224px;
	height: 377px;
	background:url(../img/18d.png);
	background-size: 100% 100%;
}
.jl ul>:nth-child(1)>a{
	float: left;
	width: 224px;
	height: 377px;	
	/*a标签设置*/
}
.jl ul>:nth-child(2){
	width: 433px;
	height: 189px;
}
.jl ul>:nth-child(2)>div{
	float: left;
}
.rr{/*li中的div*/
	padding: 10px 0;
	width: 252.2px;
}
.rr>:first-child{
	font-size: 18px;
}
.rr>:last-child{
	font-size: 20px;
	background-color: #be4141;
	color: white;
	padding:4px 30px;
}
.jl ul>:nth-child(3){
	width: 433px;
	height: 189px;
}
.jl ul>:nth-child(3)>div{
	float: left;
}
.ra{/*li中的div*/
	padding: 10px 0;
	
	width: 252.2px;
}
.ra>:first-child{
	font-size: 18px;
}
.ra>:last-child{
	font-size: 20px;
	background-color: #be4141;
	color: white;
	padding:4px 30px;
}
.jl ul>:nth-child(4){
	width: 433px;
	height: 189px;
}
.jl ul>:nth-child(4)>div{
	float: left;
}
.rw{/*li中的div*/
	padding: 10px 0;
	
	width: 252.2px;
}
.rw>:first-child{
	font-size: 18px;
}
.rw>:last-child{
	font-size: 20px;
	background-color: #be4141;
	color: white;
	padding:4px 30px;
}
.jl ul>:nth-child(5){
	width: 433px;
	height: 189px;
}
.jl ul>:nth-child(5)>div{
	float: left;
}
.re{/*li中的div*/
	padding: 10px 0;
	
	width: 252.2px;
}
.re>:first-child{
	font-size: 18px;
}
.re>:last-child{
	font-size: 20px;
	background-color: #be4141;
	color: white;
	padding:4px 30px;
}
.t1{
	transition: transform 1s;
}
.t1:hover{
	transform: scale(1.1);
}
/*限时购结束*/
/*福利社开始*/
.fls{
	height: 420px;
	margin-top: 60px;
	padding: 54px 0 52px;
	background-color: #f7f3ee;
}
.fl{
	width: 1090px;
	margin: 0 auto;
}
.lis{
	/*height: 28px;*/
	/*background: #ccc;*/
	padding-bottom: 20px;
}
.lis::after{
	content: "";
	display: block;
	clear: both;
}
.lis>:first-child{
	float: left;
	font-size: 28px;
}
.lis>:last-child{
	float: right;
	padding-top: 20px;
}
.zs::after{
	content: "";
	display: block;
	clear: both;
}
.lin{
	float: left;
	width: 224px;
	height: 376px;
	background: url(../img/zs.jpg);
	/*background-color: lightblue;*/
}


.jrtj{
	float: left;
	width: 588px;
	height: 376px;
	padding: 0 17px 0 19px;
	background-color: #fff;
}
.tjj{
	height: 24px;
	padding: 19px 0 12px;
	border-bottom: 1px solid #ededed;
}
.tjj>:first-child{
	font-size: 20px;
	float: left;
}
.tjj>:last-child{
	font-size: 12px;
	float: right;
	margin-top: 12px
}
.dazhe{
	height: 300px;
	margin: 20px -20px 0 0;
	/*background: #fff;*/
}
.dazhe::after{
	content: "";
	display: block;
	clear: both;
}
.dazhe>div{
	width: 284px;
	height: 130px;
	margin: 0 20px 20px 0;
	background: #fff;
	float: left;
}
.dazhe>div>div{
	background-color: #fbf9f6;
}
.rs6,.fl1,.rb3,.ad1{
	display: flex;
	justify-content: flex-start;
}

.l1>:first-child>a{
	font-size: 16px;
}
.l1>:last-child>a{
	font-size: 14px;
	background-color: #be4141;
	color: white;
	padding:2px 20px;
}
.l1>:last-child{
	margin-top: 10px;

}
.fl1 .l1>:last-child{
	margin-top: 31px;

}



.jjzk{
	float: left;
	width: 199.2px;
	height: 376px;
	padding: 0 42px 0 0px;
	background-color: teal;
}
.jj1{
	box-sizing: border-box;
	width: 242px;
	padding: 0 20px 0 22px;
	border-left: 0.8px solid #ededed;
	height: 188px;
	background-color: #fff;
}
.jj1>:first-child{

	height: 24px;
	width: 199.2px;
	padding: 19px 0 12px;
	background-color: #fff;
}

.jj1>:first-child a{
	margin-left: 9em
}
.j120{
	height: 120px;
	width: 199px;
	background-color: #fff;
}
.n1{
	width: 200px;
	height: 50px;
	margin-bottom: 20px;
}
.n1,.n2{
	display: flex;
	justify-content: flex-start;
}
.n2{
	width: 200px;
	height: 50px;
}




.jj2{
	box-sizing: border-box;
	width: 242px;
	padding: 0 20px 0 22px;
	border-left: 0.8px solid #ededed;
	height: 188px;
	background-color: #fff;
}
.jj2>:first-child{

	height: 24px;
	width: 199.2px;
	padding: 19px 0 12px;
	background-color: #fff;
}

.jj2>:first-child a{
	margin-left: 8em
}
.j120{
	height: 120px;
	width: 199px;
	background-color: #fff;
}
.n1{
	width: 200px;
	height: 50px;
	margin-bottom: 20px;
}
.n1,.n2{
	display: flex;
	justify-content: flex-start;
}
.n2{
	width: 200px;
	height: 50px;
}
.j120>div>div{
	background-color: #fbf9f6;
}
/*福利社结束*/

/*居家内容开始*/
.ju-ts{
	width: 100%;
	margin-top: 100px;
	background-color: #fff;
}
.ju-jia{
	height: 789px;
	width: 1090px;
	margin: 0 auto;
	/*background-color: teal;*/
}
.ju-jia a:hover{
	color: #b89c68;
}
.ju-1{
	box-sizing: border-box;
	height: 48px;
	/*background-color: #ccc;*/
	padding-bottom: 20px;
	line-height: 18px;
	display: flex;
	margin-bottom: 10px;

}
.ju-left{
	flex: 1;
}
.ju-right{
	flex: 1;
}
.ju-right ul{
	display: flex;
	line-height: 58px;
	justify-content:flex-start;
	text-align: center;
}
.ju-right li{
	width: 70px

}
.ju-2{
	height: 310px;
	margin-bottom: 20px;
	background-color: #000
}
.ju-3{
	height: 411px;
	background-color: #fff;
}
.ju-3 ul{
	display: flex;
	justify-content: space-between;
}
.ju-3>ul>li>div{
	width: 265px;
	height: 361px;
	background-color: #fff
}
.d1{
	
	text-align: center;
}
.d1 img{
	transition: transform 1s;
}
.d1 img:hover{
	transform: scale(1.1);
}
.d1>:first-child{
	height:265px;
	width: 265px;
	background-color: #f4f4f4;
	overflow: hidden;
}
.biaoq>:nth-child(1) span{
	font-size: 13px;
	color: #fff;
	background-color: #e36844;
	padding: 0 5px;
}
.biaoq>:nth-child(1){
	margin:4px 0;
}
.biaoq>:nth-child(2){
	font-weight: bold;
	margin-bottom: 4px;
}
.biaoq>:nth-child(3){
	color: #dd464d;
}
.biaoq>:nth-child(1)~*{
	font-size: 14px;
}
/*居家内容结束*/
/*甄选家开始*/
.zhenxuan{
	width: 1090px;
	/*height: 428px;*/
	margin:0 auto 80px;
}
.zxj{
	height: 28px;
	padding-bottom: 20px;
	line-height: 24px;
	display: flex;
}
.zxj>:first-child{
	font-size: 28px;
	font-weight: bold;
}
.zxj>:last-child{
	margin: 6px 1.5em;
}
.ypsy ul>li{
	float: left;
}
.zhenxuan::after{
	content: "";
	display: block;
	clear: both;
}
.ypsy ul>:nth-child(1){
	width: 690px;
	height: 380px;
	background: url(../img/样品试用.jpg);
	background-color: teal;
	margin-right: 10px;
}
.ypsy ul>:nth-child(2){
	width: 390px;
	height: 185px;
	background: url(../img/建议征集.jpg);
	margin-bottom: 10px;
}
.ypsy ul>:nth-child(3){
	width: 390px;
	height: 185px;
	background: url(../img/样式甄选.jpg);
}
.ju-ts::after{
	content: "";
	display: block;
	clear: both;
}
/*甄选家结束*/
/*大家都在说开始*/
.djdzs{
	width: 100%;
	background-color: #f4f0ea;
	padding: 50px 0;
}
.s-wrap{
	width:1090px;
	margin: 0 auto;
	padding-bottom:30px;
}
.shenghuo{
	height: 28px;
	padding-bottom: 20px;
	line-height: 24px;
	display: flex;
}
.shenghuo>:first-child{
	font-size: 28px;
	font-weight: bold;
}
.shenghuo>:last-child{
	margin: 6px 1.5em;
}
.gdt ul>li{
	height: 492px;
	width: 367px;
}
.gdt ul{
	display: flex;
}

.biz1{
	width: 355px;
	height: 492px;
	background:url(../img/喷头.jpg)no-repeat;
	position: relative;
}
.biz1>.pinlun{
	width: 432px;
	height: 236px;
	background:url(../img/评论.png)left no-repeat;
	background-size: 80%;
	position: absolute;
	bottom: 0;
	left: 5px;
}
.biz2{
	width: 355px;
	height: 492px;
	background:url(../img/川味.jpg)no-repeat;
	position: relative;
}
.biz2>.pinlun{
	width: 432px;
	height: 236px;
	background:url(../img/评论2.png)left no-repeat;
	background-size: 80%;
	position: absolute;
	bottom: 0;
	left: 5px;
}
.biz3{
	width: 355px;
	height: 492px;
	background:url(../img/微电流.jpg)no-repeat;
	position: relative;
}
.biz3>.pinlun{
	width: 432px;
	height: 236px;
	background:url(../img/评论3.png)left no-repeat;
	background-size: 80%;
	position: absolute;
	bottom: 0;
	left: 5px;
}
/*大家都在说结束*/
/*客户服务开始*/
.kehufw{
	width:1090px;
	margin: 0px auto 50px;
	padding-top: 50px;
	height: 204px;
	background-color: #fff;
}
.kk1,.kk2,.kk3{
	box-sizing: border-box;
	width: 361px;
	height: 204px;
	float: left;
	text-align: center;

}
.kk1 h3,.kk2 h3,.kk3 h3{
	font-weight: normal;
}
.kehufw::after{
	content: "";
	display: block;
	clear: both;
}
.zaix{
	display: flex;
	justify-content: space-around;
	text-align:center;
	padding-top: 10px;
}
.zaix div{
	border: 1px solid #ededed;
	padding: 15px 10px;
}
.kehufw h3{
	padding-top: 15px;
}
.kk1{
	height: 144px;
	background-color: #fff
}
.kk2{
	border:solid #ededed;
	border-width: 0 1px;
	padding: 0 30px;	
	cursor: initial;
}
.kk2 p{
	padding-top: 1em;
	text-align:left;
}
/*客户服务结束*/
/*footer开始*/
.footer{
	width: 100%;
	height: 200px;
	background-color: #414141;
}
.uwrap{
	width: 1090px;
	margin: 0 auto;
	text-align: center;
}
.day30{
	display:flex;
	justify-content: space-around;
	padding: 30px 20px 20px;
	border-bottom: 1px solid #666666;
}
.uwrap .day30 li{
	width: 220px;
}
.day30>:first-child,.day30>:nth-child(2),.day30>:nth-child(3){
	/*width: 200px;*/
	color: #ededed;
	font-size: 18px;
	/*float: left;*/
	display: flex;
}
.day30 li>p{
	line-height: 65px;
	margin-left: 10px;
}
.xiaozi{
	display:flex;
	justify-content: space-around;
	padding: 10px 13em 10px;
	text-align: center;
}
.xiaozi li{
	width: 70px;
	font-size: 13px;
	border-right:1px solid #8c8c8c;
	padding-right: 5px;
	line-height: 10px
}
.xiaozi li a,.uwrap>:last-child{
	color: #8C8C8C;
}
.uwrap>:last-child{
	font-size: 13px;
	
}
/*footer结束*/